html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background-color: #0a1128; /* 👈 color de respaldo */
}

/*body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #2B5E73, #0a1128);
  z-index: -3; 
}*/

#root {
  min-height: 100%;
  overflow-x: hidden;
}
